* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    background-color: rgb(249, 245, 245);
}

#one, #two {
    display: inline-block;
    margin: 3px;
    height: 100%;
}

#two {
    float: right;
    /* width: -1700px; */
    /* border: 2px solid yellow; */
    width: 1600px;
}


#one {
    /* border: 1px solid red; */
    width: 310px;
    height: 900px;
    background-color: rgb(242, 239, 239);
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 70px;
    position: relative;
}

.logo-line {
    border: 2px solid black;
    width: 13px;
    position: absolute;
    top: 23px;
    left: 128px;
}

.logo {
    font-size: 30px;
    font-weight: 200px;
    margin: 18px 20px 80px 70px;
}

#absolute {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 0, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 32px;
}

h2 {
    font-size: 35px;
    font-weight: 250px;
    margin-left: 20px;
    margin-bottom: 30px;
}


#icon-one {
    color: rgb(238, 238, 4);
    font-size: 35px;
}

#icon-two {
    color: brown;
    font-size: 35px;
}

#icon-three {
    color: brown;
    font-size: 35px;
}

#icon-four {
    color: brown;
    font-size: 35px;
}

#icon-five {
    color: blue;
    font-size: 35px;
}

#icon-six {
    color: rgb(238, 238, 4);
    font-size: 35px;
}

#icon-seven {
    color: blue;
    font-size: 35px;
}

#icon-eight {
    font-size: 35px;
}

.option {
    margin: 0px 5px 20px 30px;
    padding-bottom: 15px;
    padding-top: 10px;
    position: relative;
}


#eight-option {
    margin-top: 100px;
    font-size: 22px;
    /* text-align: center; */
    /* display: inline-block; */
}

.side-bar {
    display: inline;
    margin-bottom: 1px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bolder;
    padding: 3px;
    /* border: 1px solid blue; */
}

#p-one {
    position: absolute;
}

#p-two {
    position: absolute;
}

#p-three {
    position: absolute;
}

#p-four {
    position: absolute;
}

#p-five {
    position: absolute;
}

#p-six {
    position: absolute;
}

#p-seven {
    position: absolute;
}

#p-eight {
    position: absolute;
}

nav {
    display: inline-block;
    /* border: 1px solid black; */
    margin: 21px 0px 15px 120px;
    font-size: 22px;
}

#search-bar {
    font-size: 40px;
    position: absolute;
    left: 450px;
}

nav input {
    width: 600px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(219, 219, 219);
    margin-right: 70px;
    border: none;
    background-color: rgb(249, 245, 245);
}

nav a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-weight: bold;
}

span[class~=aside] {
    margin-left: 30px;
    font-size: 40px;
}

.sample {
    margin-right: 30px;
}

#nav-icon-two {
    position: absolute;
    right: 50px;
}

#nav-icon-one {
    margin-left: 100px;
    position: absolute;
    right: 120px;
}

img {
    width: 300px;
    height: 300px;
}

/* main, div {
    display: inline-block;
} */

#pictures-one {
    width: 700px;
    /* border: 2px solid greenyellow; */
    margin-left: 30px;
}

#first-seg img {
    display: block;
}

.img-one, .img-two, #img-div-one, #img-div-two {
    margin: 5px 2px 10px 4px;
    width: 700px;
    height: 200px;
    border-radius: 20px;
}
.img-three, .img-four, .img-five, .img-six {
    width: 333px;
    height: 440px;
    margin: 3px 2px 10px 4px;
    border-radius: 20px;
}

.img-five {
    margin-left: 13px;
    margin-right: 10px;
}


.img-three {
    margin-right: 10px;
    margin-left: 10px;
}

main {
    margin-left: 30px;
}

main .main-div {
    display: inline-block;
}

#pictures-two {
    /* width: 700px; */
    /* border: 2px solid greenyellow; */
    margin-left: 15px;
}

#third-seg img {
    margin-bottom: 5px;
}

#fourth-seg img {
    display: block;
    margin-left: 10px;
    margin-top: 0px;
}

#img-div-one {
    background-color: rgb(226,181,119);
    /* height: 250px; */
    /* position: relative; */
}

#img-div-two{
    background-color: rgb(31,34,27);
    /* height: 230px; */
    /* position: relative; */
}


.img-seven, .img-eight {
    position: absolute;
    width: 250px;
    height: 198px;
    border-radius: 20px;
}

.img-seven {
    bottom: 16px;
    right: 569px;
}

.img-eight {
    right: 120px;
    bottom: 227.15px;
    width: 280px;
}

#summer {
    font-family: 'Flavors', cursive;
}

#img-h2 {
    position: absolute;
    top: 165px;
    left: 748px;
    color: rgb(252, 248, 245);
    font-weight: bolder;
}
